/* main styles */
.row {
    display: inline-block;
}

.template-content {
    width: 100%;
    margin: 0 auto;
}

.template-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.template-container {
    padding-right: 0px;
}

.pane-content {
    max-width: 1400px;
}

/* custom select box  styles */
.custom-select {
    position: relative;
    font-family: Arial;
    display: inline-block;
    width: 400px;
}
.custom-select select {
    display: none;
}
.select-selected {
    background-color: DodgerBlue;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.chart {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 30px;
}