<!DOCTYPE html>

<html>

<head>
   <title>Angular 4</title>
   <meta charset="UTF-8">
   <link type="text/css" rel="stylesheet" href="Styles/header.css">
</head>

<body>
   <div class="container">
      <div class="backdrop">
         <div class="background-theme">
            <div class="background-header-theme"></div>
         </div>
      </div>
      <div class="navbar">
         <div class="navbar-container">
            <nav class="navbar-desktop">
               <a href="#" class="logo">
                  <img class="svg" src="Images/flame-line.svg">
                  <div class="clear-fix"></div>
               </a>
               <div class="navbar-items">
                  <a href="#" class="navbar-item">
                     <div class="navbar-label default-styles">Начало</div>
                  </a>
                  <a href="#angular" class="navbar-item">
                     <div class="navbar-label default-styles">За Angular</div>
                  </a>
                  <a href="#architecture" class="navbar-item">
                     <div class="navbar-label default-styles">Архитектура</div>
                  </a>
                  <a href="#literature" class="navbar-item">
                     <div class="navbar-label default-styles">Литература</div>
                  </a>
               </div>
            </nav>
         </div>
      </div>
      <div class="pane">
         <div class="pane-content">
            <div class="template-container">
               <div class="website-information" id="content">
                  <div class="template">
                     <div class="website-heading">
                        <h1 class="website-headline default-styles">
                           Angular 4: Реферат по WEB технологии
                        </h1>
                     </div>
                     <div class="template-wrapper">
                        <div class="template-content default-styles" id="main-content">
                           Main content goes here
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>